.ui-collapse--inner {
  padding: 20px 0;
  .product-share-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    a {
      display: block;
      font-size: 18px;
      line-height: 40px;
      text-align: center;
      border: solid 1px #CBCBCB;
      width: 40px;
      height: 40px;
      margin-right: 5px;
      color: #CBCBCB;
      border-radius: 8px;
      &:hover {
        border-color: darken(#CBCBCB, 20%);
        color: darken(#CBCBCB, 20%);
      }
    }
  }
}
